#slide-foto {
  background-image: url("../img/post-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;

  .row {
    height: 100vh;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    font-size: $fontSize-xxl;
    color: white;
  }

  @media screen and (min-width: 576px) {

    h1 {
      font-size: $fontSize-xxxl;
      color: white;
    }
  }
}