
#slide {
  background-image: url("../img/post-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  //margin-top: -50px;

  .row {
    height: 100vh;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;

  }
}
